<% provide(:title, "SERP") %>

<h1>Course Table</h1>
<% if @user.nil? %>
  <h2>Log in please</h2>
<% else %>
  <h2>User: <%= @user['name'] %></h2>
<% end %>
<table class="table">
  <thead class="thead-default">
    <tr>
      <th>ID</th>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Credits</th>
    </tr>
  </thead>
  <tbody>
    <% @result.each do |each_course| %>
      <tr>
        <th scope="row"><%= each_course['uni_id'] %></th>
        <td><%= each_course['code'] %></td>
        <td><%= each_course['name'] %></td>
        <td><%= each_course['description'] %></td>
        <td><%= each_course['credit'] %></td>
        <% if @user.nil? %>
          <form action="/login" method="GET">
            <td><button type="submit" class="btn btn-primary">Login Please</button></td>
          </form>
        <% else %>
          <form action="/enroll" method="GET">
            <td><button type="submit" class="btn btn-primary" value="<%= each_course['id'] %>" name = "course_id">Enroll</button></td>
          </form>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
